
$header-color: rgb(0, 0, 0); // Sass variable: https://sass-lang.com/guide

h1 {
  color: $header-color;
  border-bottom: 5px solid $header-color;
}
.container {
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  width: 260px;
  display:inline-block;
  vertical-align:top;
}
.DRAcontainer {
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  display:inline-block;
  vertical-align:top;
}

.number_field {
  width: 15;
}

.vega_container {
  max-width:500px;
  max-height:400px;
  overflow: auto;
}