
$header-color: rgb(0, 0, 0); // Sass variable: https://sass-lang.com/guide
$text-color: rgb(0, 0, 0);
$background-color: rgb(220,220,225);
$div-background-color: rgb(255,255,255);
$input-background-color: rgb(240,240,250);

h1 { 
  text-align: center;
  font-weight: normal;
  margin: 15px;
  padding-top: 15px;
}
h2 {
  font-weight: normal;
  padding-bottom: 10px;
}


body {
  color: $text-color;
  background: $background-color;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1vw;
  //font-family: 'Trebuchet MS', sans-serif;
}

.global_div {
  text-align: center;
  width: 85%;
  margin: auto;
  background-color: $div-background-color;
  padding-bottom: 15%;
}
.intro {
  text-align: center;
}

.effects-container {
  display:inline-block;
  vertical-align:top;
  overflow: auto;
  text-align: left;
  padding-left: 50px;
}
.fields_container {
  max-height: 150px;
  overflow: auto;
  margin-left: 20px;
  margin-bottom: 5px;
  text-align: left;
}
.Container {
  display : inline-block;
  vertical-align : top;
  width: 40%;
  overflow-x: auto;
  background-color: $div-background-color;
}
.meter-container {
  display : inline-block;
  vertical-align : top;
  width: 5%;
  overflow-x: auto;
  background-color: $div-background-color;
}
.Container-low {
  display : inline-block;
  vertical-align : top;
  width: 40%;
  overflow-x: auto;
  background-color: $div-background-color;
  text-align: left;
}
select {
  background-color: $input-background-color;
  color: $text-color;
  border: none;
}
textarea {
  background-color: $input-background-color;
  color: $text-color;
  font-size: 1vw;
  border: none;
  width: 90%;
  max-height: 150px;
}

.vega_container {
  max-width:500px;
  max-height:400px;
  overflow: auto;
}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: $div-background-color;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  box-shadow: 5px 10px 8px #888888;
  text-align: center;
}

button {
  border-radius: 4px;
  background-color: $input-background-color;
  font-size: 1vw;
}

.sidebar .closeDataBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: $text-color;
  display: block;
  transition: 0.3s;
}

.meter {
  display : inline-block;
  width: 45%;
  padding-bottom: 224%;
  //background-color: seagreen;
  background: linear-gradient(0deg, #e95710 0%, white 50%, steelblue 100%);
}

